{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'recipes:list' %}">All recipes</a>
                <br><br><br>
                <h2>Składniki</h2>
                <ul>
                    {% for ingredient in recipe.ingredient_set.all %}
                        <li>
                            {{ ingredient.element.name }}: {{ ingredient.quantity.name }} {{ ingredient.amount }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h1>{{ recipe.name }}</h1>
                <img src="{{ recipe.image.crop.400x400 }}">
                {{ recipe.content }}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        {% for section in recipe.sections.all %}
                            <div>
                                <h3>{{ section.title }}</h3>
                                <img src="{{ section.image.crop.400x400 }}"/><br/>
                                {{ section.content }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                Czas przygotowania: {{ recipe.preparation_time }} minut
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9">
                Autor: {{ recipe.author_name }}
            </div>
        </div>
    </div>
{% endblock content %}
