{% extends "base.html" %}

{% block title %}Recipes list{% endblock title %}

{% block content %}
    <div>
        <label for="elements">Choose element(s)</label>
        <select name="elements" id="elements" multiple>
            {% for element in elements %}
                <option value="{{ element.slug }}">{{ element.name }}</option>
            {% endfor %}
        </select>

        <h1>Recipes</h1>
        <ul id="recipes">
            {% for recipe in recipe_list %}
                <li>
                    <a href="{{ recipe.get_absolute_url }}">
                        <div class="image"><img src="{{ recipe.image.crop.160x120 }}"/></div>
                        <div class="headline">{{ recipe.name }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
